<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/responsive.css" | relURL }}">
</head>
<body id="top">
  {{ partial "header.html" . }}

  <main class="container main">
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}
  <script src="{{ "js/main.js" | relURL }}"></script>
</body>
</html>
